---

---

<div class="space-y-2 pt-20 mb-8">
    <h1 class="text-4xl md:text-5xl font-bold">Hi, I’m Madalin! 👋 </h1>
    <h2 class="text-base sm:pt-2 text-gray-500 dark:text-gray-400 leading-relaxed">
        DevOps Engineer, Tech Enthusiast, and Software Developer
    </h2>
</div>
