---
import { Icon } from "astro-icon/components";
---

<div class="flex items-center md:ml-4 group">
  <button id="theme-toggle" x-on:click="showThemeMenu = !showThemeMenu;" aria-label="Toggle theme">
    <Icon
      name="sun"
      x-cloak
      x-init="setIconTheme;"
      x-show="theme === 'dark'"
      class="text-xl hover:text-gray-500 dark:hover:text-gray-400"
      id="sun-icon"
    />
    <Icon
      x-cloak
      x-show="theme === 'light'"
      x-init="setIconTheme;"
      name="moon"
      class="text-xl hover:text-gray-500 dark:hover:text-gray-400"
      id="moon-icon"
    />
  </button>
</div>