---

---

<ul class="pt-6 list-disc ml-4 prose text-white">
  <li class="dark:text-gray-400 text-gray-600">
    <span class="font-semibold">DevOps & Automation:</span> Docker, Kubernetes, Ansible,
    Terraform
  </li>
  <li class="text-gray-600 dark:text-gray-400">
    <span class="font-semibold dark:text-white">Cloud Solutions:</span> Azure, AWS
  </li>
  <li class="text-gray-600 dark:text-gray-400">
    <span class="font-semibold dark:text-white">CI/CD Pipelines:</span> GitHub Actions,
    Azure Pipelines, Jenkins
  </li>
  <li class="text-gray-600 dark:text-gray-400">
    <span class="font-semibold dark:text-white">Programming Languages:</span>
    Python, Go
  </li>
  <li class="text-gray-600 dark:text-gray-400">
    <span class="font-semibold dark:text-white"
      >Infrastructure as Code (IaC):</span
    > Terraform, Azure Resource Manager (ARM) Templates
  </li>
</ul>
