---
const { title, company, year, description } = Astro.props;
---

<div class="relative z-10">
  <div
    class="font-bold text-xl mb-4 inline-block bg-gray-300 dark:bg-slate-700 px-4 py-2 rounded-full shadow"
  >
    {year}
  </div>

  <div class="ml-8 mb-8 p-6 rounded-lg">
    <h3 class="text-xl font-semibold text-gray-600 dark:text-gray-400">
      {title}
    </h3>
    <p class="dark:text-gray-400 text-gray-600 mt-1">{company}</p>
    <p class="prose dark:prose-invert max-w-none mt-2 text-justify sm:text-left">
      {description}
    </p>
  </div>
</div>
