---
import { Icon } from "astro-icon/components";
---

<div class="text-xl flex gap-4">
  <a  class="hover:text-gray-600 dark:hover:text-gray-400" href="https://github.com/madalinpopa" target="_blank">
    <Icon name="github" />
  </a>
  <a class="hover:text-gray-600 dark:hover:text-gray-400" href="https://www.linkedin.com/in/madalinpopa/" target="_blank">
    <Icon name="linkedin" />
  </a>
  <a class="hover:text-gray-600 dark:hover:text-gray-400" target="_blank" href="https://x.com/CodeRustle">
    <Icon name="x" />
  </a>
  <a class="hover:text-gray-600 dark:hover:text-gray-400"
    target="_blank"
    href="https://discordapp.com/channels/@me/1101943732238045296/"
  >
    <Icon name="discord" />
  </a>
</div>