---

---
<div class="py-6 text-gray-600 dark:text-gray-400 text-center">
  <p class="text-center mt-8 text-sm">
    &copy; 2024 Madalin Popa. All Rights Reserved. | Built with passion and
    technology.
  </p>
</div>
