---
import HeroTitle from "../headers/HeroTitle.astro";
import CTAButton from "../buttons/CTAButton.astro";
---

<div>
  <HeroTitle />
  <div>
    <p class="leading-relaxed">
      With a passion for automation and solving complex problems through
      technology, I specialize in building scalable solutions using Python, Go,
      and various cloud services.
    </p>
    <div class="flex gap-6">
      <CTAButton href="/services/" text="I Can Help You With This" />
      <CTAButton href="/contact/" text="Get in Touch" />
    </div>
  </div>
</div>
