---
import Menu from "./Menu.astro";
import MenuButton from "../buttons/MenuButton.astro";
const { menuItems } = Astro.props;

let isMenuOpen = false;

function toggleMenu() {
  isMenuOpen = !isMenuOpen;
}
---

<div>

</div>