---
import Menu from "./Menu.astro";
import SocialIcons from "../lists/SocialIcons.astro";
import MenuButton from "../buttons/MenuButton.astro";
import ThemeMenu from "./ThemeMenu.astro";

const menuItems = [
  { title: "Home", href: "/" },
  { title: "Solutions", href: "/services/" },
  { title: "Experience", href: "/experience/" },
  { title: "About", href: "/about/" },
  { title: "Contact", href: "/contact/" },
];
---

<nav class="border-b border-b-gray-300 dark:border-b-slate-600 border-1">
  <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-4xl">
      <div class="flex h-16 items-center justify-between">
        <div class="flex justify-between items-center w-full">
          <div class="flex-shrink-0">
            <SocialIcons />
          </div>
          <!-- Desktop menu -->
          <div class="hidden sm:ml-6 md:flex items-center">
            <Menu items={menuItems} style={"flex space-x-4"} />
            <!-- Theme menu -->
            <ThemeMenu />
          </div>

          <!-- Menu button -->
          <div class="flex items-center gap-4 md:hidden">
            <ThemeMenu />
            <MenuButton />
          </div>
        </div>
      </div>
      <!-- Mobile menu -->
      <div x-cloak x-show="showMenu" class="md:hidden" id="mobile-menu">
        <Menu items={menuItems} style={"flex flex-col space-y-1 px-2 pb-3 pt-2"} />
      </div>
    </div>
  </div>
</nav>
