---
import { AstroSeo } from "@astrolib/seo";

import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/headers/PageTitle.astro";
import Content from "../components/layout/Content.astro";
---

<AstroSeo
  title="Madalin Popa | About me"
  description="I'm a self-taught tech enthusiast with a passion for learning and problem-solving. I live in Bucharest, Romania, where my journey into IT began when I was 14."
  canonical="https://madalinpopa.com/about"
/>

<PageLayout>
  <Content>
    <div class="space-y-12">
      <div>
        <PageTitle title="About me" />
        <blockquote>
          <p
            class="text-gray-500 dark:text-gray-400 italic prose dark:prose-invert max-w-none"
          >
            “Everybody in this country should learn to program a computer,
            because it teaches you how to think ”- Steve Jobs.
          </p>
        </blockquote>
      </div>
      <div class="prose dark:prose-invert max-w-none">
        <p class="indent-6">
          I'm a self-taught tech enthusiast with a passion for learning and
          problem-solving. I live in Bucharest, Romania, where my journey into
          IT began when I was 14. That's when I discovered Linux, and I was
          immediately hooked. I loved how it gave me the freedom to dig deep
          into how systems work. Around that time, I also set up my first
          computer network, and it wasn't long before I realized how much I
          enjoyed figuring out how everything connected and keeping it running
          smoothly.
        </p>
        <p>
          As I spent more time with technology, I started exploring programming,
          beginning with simple bash scripts. This opened the door to learning
          languages like C, Java, and eventually Python, which became my go-to
          language for automation and building efficient solutions.
        </p>
        <p>
          Over time, I expanded my skills into web development, infrastructure
          management, and cloud technologies. I'm always looking for ways to
          automate processes, streamline workflows, and build systems that scale
          easily. Whether it's coding, setting up cloud environments, or solving
          complex technical problems, I'm driven by a desire to make things work
          better and more efficiently.
        </p>
        <p>
          When I'm not working, I'm probably learning something new or tinkering
          with a new technology. For me, the fun part of tech is seeing
          everything come together, from the first line of code to a fully
          functional solution that makes life easier for others.
        </p>
      </div>
    </div>
  </Content>
</PageLayout>
