---
import PageContent from "../layouts/PageContent.astro";
import PageTitle from "../components/PageTitle.astro";
import SectionTitle from "../components/SectionTitle.astro";
import SocialIcons from "../components/SocialIcons.astro";
---

<PageContent>
  <div class="space-y-8">
    <div>
      <PageTitle title="Contact" />
      <p class="prose text-white">
        I'd love to hear from you! Whether you have a question, a project idea,
        or just want to say hi, feel free to reach out via email or social
        media. I look forward to connecting with you! Let's work on something
        amazing together.
      </p>
    </div>
    <div class="space-y-6">
      <SectionTitle title="You can reach me at" />
      <ul>
        <li>
          <strong>Email:</strong>
          <a
            href="mailto:hello@madalinpopa.com"
            class="text-primary hover:text-accent">hello@madalinpopa.com</a>
        </li>
      </ul>
      <div class="space-y-4">
        <p class="prose text-white">
          Please also feel free to connect with me on any of these platforms.
        </p>
        <div>
          <SocialIcons />
        </div>
      </div>
    </div>
  </div>
</PageContent>
