---
import PageContent from "../layouts/PageContent.astro"
import PageTitle from "../components/PageTitle.astro"
---
<PageContent>
    <div>
        <PageTitle title="Experience" />
        <div>
          <p class="leading-relaxed">
            With a passion for automation and solving complex problems through
            technology, I specialize in building scalable solutions using Python, Go,
            and various cloud services. Explore my projects or get in touch to
            collaborate on exciting tech initiatives!
          </p>
      </div>
</PageContent>