---
import PageLayout from "../layouts/PageLayout.astro";
import Hero from "../components/layout/Hero.astro";
import SectionTitle from "../components/headers/SectionTitle.astro";
import CTAButton from "../components/buttons/CTAButton.astro";
import Content from "../components/layout/Content.astro";
---

<PageLayout>
  <Content>
    <div class="space-y-12">
      <Hero />  
    </div>
  </Content>
</PageLayout>
