---
import { AstroSeo } from "@astrolib/seo";

import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/headers/PageTitle.astro";
import SectionTitle from "../components/headers/SectionTitle.astro";
import Content from "../components/layout/Content.astro";
import BlogPosts from "../components/lists/BlogPosts.astro";
---

<AstroSeo
  title="Madalin Popa | Posts"
  description="I'd love to hear from you! Whether you have a question, a project idea, or just want to say hi, feel free to reach out via email or social media."
  canonical="https://madalinpopa.com/posts"
/>

<PageLayout>
  <Content>
    <div class="space-y-12">
      <div>
        <PageTitle title="Posts" />
        <p>Welcome to my blog! Here you'll find articles, insights, and tutorials on DevOps, cloud infrastructure, and software development. Whether you're interested in learning about automation, CI/CD pipelines, or just exploring new tech trends, this is the place for you.</p>
      </div>
      <div>
        <SectionTitle title="2024" />
        <BlogPosts />
      </div>
    </div>
  </Content>
</PageLayout>
