---
import PageContent from "../layouts/PageContent.astro";
import PageTitle from "../components/PageTitle.astro";
import ServiceItem from "../components/ServiceItem.astro";
import SectionTitle from "../components/SectionTitle.astro";
---

<PageContent>
  <div class="space-y-12">
    <div>
      <PageTitle title="Let’s Work on These Together" />
      <div>
        <p class="leading-relaxed">
          When it comes to cloud infrastructure, DevOps pipelines, and automation,
          I’m here to help you streamline your workflows and build scalable,
          efficient solutions. With a strong background in Python, cloud services,
          and automation tools, I can support your project at every stage – from
          planning to deployment. Let’s take your ideas and turn them into
          reliable, scalable solutions.
        </p>
      </div>
    </div>
    <div>
      <div>
        <SectionTitle title="How I Can Help You" />
      </div>
      <div class="space-y-6 pt-6">
        <ServiceItem title="DevOps & Automation">
          Efficient and scalable systems are built on automation. I can help you
          implement tools like Docker, Kubernetes, Ansible, and Terraform to
          automate repetitive tasks, manage complex infrastructures, and reduce
          errors. Together, we can ensure your infrastructure is running smoothly
          and consistently.
        </ServiceItem>
        <ServiceItem title="Cloud Solutions">
          Whether you’re using Azure or AWS, I’ll help design and implement cloud
          architectures that meet your unique business needs. From cloud migration
          to setting up secure, scalable environments, I’ll ensure your cloud
          solutions are optimized for performance, security, and cost-efficiency.
        </ServiceItem>
        <ServiceItem title="CI/CD Pipelines">
          Continuous Integration and Continuous Deployment (CI/CD) pipelines are
          the backbone of a fast and reliable development process. I can create
          custom pipelines using tools like GitHub Actions, Azure Pipelines, or
          Jenkins to automate testing, deployment, and monitoring of your
          applications.
        </ServiceItem>
        <ServiceItem title="Infrastructure as Code (IaC)">
          Say goodbye to manual configurations and ensure your infrastructure is
          reproducible, scalable, and version-controlled. Using Terraform and ARM
          templates, I’ll automate the provisioning of your cloud resources,
          helping you manage infrastructure with the same discipline as code.
        </ServiceItem>
        <ServiceItem title="Python & Go Development">
          From automation scripts to full-scale web applications, I can help you
          write clean, maintainable, and efficient code in Python and Go. Whether
          you’re looking to build something from scratch or optimize existing
          codebases, I’ve got you covered.
        </ServiceItem>
      </div>
    </div>
    <div>
      <div>
        <SectionTitle title="Certifications" />
      </div>
      <ul class="pt-6 list-disc ml-4 space-y-4">
          <li><span class="font-semibold">Microsoft Certified:</span> Azure Developer Associate</li>
          <li><span class="font-semibold">Microsoft Certified:</span> DevOps Engineer Expert</li>
          <li><span class="font-semibold">Microsoft Certified:</span> Azure Administrator Associate</li>
          <li><span class="font-semibold">Microsoft Certified:</span> Azure Fundamentals</li>
          <li><span class="font semibold">KCNA:</span> Kubernetes and Cloud Native Associate</li>
          <li><span class="font-semibold">CKAD:</span> Certified Kubernetes Application Developer</li>
          <li><span class="font-semibold">Docker:</span> Foundations Professional Certificate</li>
      </ul>
    </div>
  </div>
</PageContent>
