---
import { AstroSeo } from "@astrolib/seo";

import PageLayout from "../layouts/PageLayout.astro";
import PageTitle from "../components/headers/PageTitle.astro";
import ServiceItem from "../components/lists/ServiceItem.astro";
import SectionTitle from "../components/headers/SectionTitle.astro";
import Content from "../components/layout/Content.astro";
import Certifications from "../components/lists/Certifications.astro";

const certifications = [
  { title: "AZ-104", description: "Azure Administrator Associate" },
  { title: "AZ-204", description: "Azure Developer Associate" },
  { title: "AZ-400", description: "DevOps Engineer Expert" },
  { title: "AZ-900", description: "Azure Fundamentals" },
  { title: "KCNA", description: "Kubernetes and Cloud Native Associate" },
  {
    title: "CKAD",
    description: "Certified Kubernetes Application Developer",
  },
  { title: "Docker", description: "Foundations Professional Certificate" },
];
---

<AstroSeo
  title="Madalin Popa | Solutions"
  description="Need help with cloud infrastructure, DevOps, or automation? I’m here to make things easier for you! Whether you’re just starting or need expert advice to scale your project, I’ll work with you every step of the way. From brainstorming ideas to implementing scalable solutions, let’s tackle your challenges together and make your vision a reality."
  canonical="https://madalinpopa.com/services"
/>

<PageLayout>
  <Content>
    <div class="space-y-12">
      <div>
        <PageTitle title="Let's Work Together on Your Next Big Project" />

        <p class="prose dark:prose-invert indent-6 max-w-none">
          Need help with cloud infrastructure, DevOps, or automation? I’m here
          to make things easier for you! Whether you’re just starting or need
          expert advice to scale your project, I’ll work with you every step of
          the way. From brainstorming ideas to implementing scalable solutions,
          let’s tackle your challenges together and make your vision a reality.
        </p>
      </div>
      <div>
        <div>
          <SectionTitle title="How I Can Help You" />
        </div>
        <div class="space-y-6 pt-6">
          <ServiceItem title="DevOps & Automation">
            Efficient and scalable systems are built on automation. I can help
            you implement tools like Docker, Kubernetes, Ansible, and Terraform
            to automate repetitive tasks, manage complex infrastructures, and
            reduce errors. Together, we can ensure your infrastructure is
            running smoothly and consistently.
          </ServiceItem>
          <ServiceItem title="Cloud Solutions">
            Whether you're using Azure or AWS, I'll help design and implement
            cloud architectures that meet your unique business needs. From cloud
            migration to setting up secure, scalable environments, I'll ensure
            your cloud solutions are optimized for performance, security, and
            cost-efficiency.
          </ServiceItem>
          <ServiceItem title="CI/CD Pipelines">
            Continuous Integration and Continuous Deployment (CI/CD) pipelines
            are the backbone of a fast and reliable development process. I can
            create custom pipelines using tools like GitHub Actions, Azure
            Pipelines, or Jenkins to automate testing, deployment, and
            monitoring of your applications.
          </ServiceItem>
          <ServiceItem title="Infrastructure as Code (IaC)">
            Say goodbye to manual configurations and ensure your infrastructure
            is reproducible, scalable, and version-controlled. Using Terraform
            and ARM templates, I'll automate the provisioning of your cloud
            resources, helping you manage infrastructure with the same
            discipline as code.
          </ServiceItem>
          <ServiceItem title="Python & Go Development">
            From automation scripts to full-scale web applications, I can help
            you write clean, maintainable, and efficient code in Python and Go.
            Whether you're looking to build something from scratch or optimize
            existing codebases, I've got you covered.
          </ServiceItem>
        </div>
      </div>
    </div>
  </Content>
</PageLayout>
