---

---

<div class="py-6 text-gray-400 text-center">
  <p class="text-center text-gray-600 mt-8 text-sm">
    &copy; 2024 Madalin Popa. All Rights Reserved. | Built with passion and
    technology.
  </p>
</div>
