---
import HeroTitle from "./HeroTitle.astro";
---

<div class="container pt-20">
  <HeroTitle />
  <div class="pt-10">
    <p class="leading-relaxed">
      With a passion for automation and solving complex problems through
      technology, I specialize in building scalable solutions using Python, Go,
      and various cloud services. Explore my projects or get in touch to
      collaborate on exciting tech initiatives!
    </p>
  </div>
</div>
