---
import HeroTitle from "./HeroTitle.astro";
import CTAButton from "./CTAButton.astro";
---

<div>
  <HeroTitle />
  <div>
    <p class="leading-relaxed">
      With a passion for automation and solving complex problems through
      technology, I specialize in building scalable solutions using Python, Go,
      and various cloud services.
    </p>
  </div>
</div>
