---

---

<div class="space-y-2">
    <h1 class="text-5xl font-bold tracking-wide">Hi, I’m Madalin!</h1>
    <h2 class="text-lg leading-8 text-gray-400">
        DevOps Engineer, Tech Enthusiast, and Software Developer
    </h2>
</div>
