<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <div class="container pt-20">
    <div class="space-y-2">
      <h1 class="text-4xl font-bold leading-10">Hi, I’m Madalin!</h1>
      <h2 class="text-lg leading-8">
        DevOps Engineer, Tech Enthusiast, and Software Developer
      </h2>
    </div>
    <div class="pt-10">
      <p class="leading-relaxed">
        With a passion for automation and solving complex problems through
        technology, I specialize in building scalable solutions using Python,
        Go, and various cloud services. Explore my projects or get in touch to
        collaborate on exciting tech initiatives!
      </p>
    </div>
  </div>
</div>
