---
import { Icon } from "astro-icon/components";
---

<div class="text-2xl flex gap-4">
  <a href="https://github.com/madalinpopa" target="_blank">
    <Icon name="github" />
  </a>
  <a href="https://www.linkedin.com/in/madalinpopa/" target="_blank">
    <Icon name="linkedin" />
  </a>
  <a target="_blank" href="https://x.com/CodeRustle">
    <Icon name="x" />
  </a>
  <a
    target="_blank"
    href="https://discordapp.com/channels/@me/1101943732238045296/"
  >
    <Icon name="discord" />
  </a>
</div>
