---
import { Icon } from "astro-icon/components";
---

<div class="text-2xl flex gap-4">
  <a href="https://github.com/madalinpopa">
    <Icon name="github" />
  </a>
  <a href="https://www.linkedin.com/in/madalinpopa/">
    <Icon name="linkedin" />
  </a>
  <a href="https://x.com/CodeRustle">
    <Icon name="x" />
  </a>
  <a href="https://discordapp.com/channels/@me/1101943732238045296/">
    <Icon name="discord" />
  </a>
</div>
