---
import "../styles/global.css";
import { ViewTransitions } from 'astro:transitions';
---

<html lang="en" x-data>
  <head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Madalin Popa, a DevOps Engineer specializing in cloud infrastructure, automation, and CI/CD pipelines. Let's collaborate on scalable solutions."
    />

    <!-- Open Graph / Facebook / LinkedIn -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://madalinpopa.com" />
    <meta property="og:title" content="Madalin Popa | DevOps Engineer" />
    <meta
      property="og:description"
      content="Specialized in cloud infrastructure, DevOps, and automation solutions."
    />
    <meta
      property="og:image"
      content="https://madalinpopa.com/images/madalin.jpg"
    />
    <meta property="og:site_name" content="Madalin Popa" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://madalinpopa.com" />
    <meta name="twitter:title" content="Madalin Popa | DevOps Engineer" />
    <meta
      name="twitter:description"
      content="Specialized in cloud infrastructure, DevOps, and automation solutions."
    />
    <meta
      name="twitter:image"
      content="https://madalinpopa.com/images/madalin.jpg"
    />
    <!-- Canonical Tag -->
    <link rel="canonical" href="https://madalinpopa.com" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <script
      is:inline
      defer
      src="https://umami.mihaelamocanu.ro/script.js"
      data-website-id="5c94282b-ce79-41cb-ac60-016397aae9f8"></script>
    <script is:inline type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Madalin Popa",
        "jobTitle": "DevOps Engineer",
        "description": "Madalin Popa is a DevOps Engineer specializing in cloud infrastructure, automation, and CI/CD pipelines.",
        "url": "https://madalinpopa.com",
        "image": "https://madalinpopa.com/images/madalin.jpg",
        "sameAs": [
          "https:https://www.linkedin.com/in/madalinpopa/",
          "https://x.com/CodeRustle",
          "https://github.com/madalinpopa"
        ],
        "worksFor": {
          "@type": "Organization",
          "name": "Code Rustle"
        },
        "address": {
          "@type": "PostalAddress",
          "addressLocality": "Bucharest",
          "addressCountry": "Romania"
        }
      }
    </script>
    <script is:inline data-astro-rerun>
      if (
        localStorage.theme === "dark" ||
        (!("theme" in localStorage) &&
          window.matchMedia("(prefers-color-scheme: dark)").matches)
      ) {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>
    <title>Madalin Popa | DevOps Engineer</title>
    <ViewTransitions />
  </head>
  <body
    class="transition-colors duration-200 bg-gray-100 dark:bg-slate-800 text-black dark:text-white font-serif"
  >
    <div class="min-h-[100dvh] grid grid-rows-[auto_1fr_auto]">
      <slot />
    </div>
  </body>
</html>
