---
import BaseLayout from "./BaseLayout.astro";
import PageTitle from "../components/headers/PageTitle.astro";

const { frontmatter } = Astro.props;

const pubDate = new Date(frontmatter.pubDate);
const formatter = new Intl.DateTimeFormat("en-GB", {
    day: "numeric",
    month: "long",
    year: "numeric",
});
const formattedDate = formatter.format(pubDate);
---

<BaseLayout>
    <article>
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <div class="mx-auto max-w-4xl border-2">
                <PageTitle title={frontmatter.title} />

                <div class="text-gray-400">
                    <p>{formattedDate}</p>
                </div>

                <div class="max-w-none prose prose-h1:text-white">
                    <slot />
                </div>
            </div>
        </div>
    </article>
</BaseLayout>
